// colors
$color-1: #305137;
$color-2: #7ab78a;
$color-3: #49805a;
$color-4: #f5f5f5;
$color-5: #ffffff;

// fomts
$font-1: 'Cookie', cursive;
$font-2: 'Open Sans', sans-serif;

$weight-font-regular: 400;
$weight-font-bold: 700;
